body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:44px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:44px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#B88A53;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:761px;
  width:189px;
  height:24px;
  display:flex;
  font-size:18px;
  color:#B88A53;
  text-align:center;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:7px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:828px;
  width:200px;
  height:7px;
  display:flex;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#B79A75;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:78px;
  width:143px;
  height:24px;
  display:flex;
  font-size:19px;
  color:#B79A75;
  text-align:center;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:60px;
  width:138px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#330006;
  text-align:center;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:149px;
  width:160px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#330006;
  text-align:center;
}
#u13 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(0, 0, 0, 0.34901960784313724);
  text-align:left;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:243px;
  width:360px;
  height:54px;
  display:flex;
  font-size:19px;
  color:rgba(0, 0, 0, 0.34901960784313724);
  text-align:left;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:rgba(0, 0, 0, 0.34901960784313724);
  text-align:left;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:317px;
  width:360px;
  height:54px;
  display:flex;
  font-size:19px;
  color:rgba(0, 0, 0, 0.34901960784313724);
  text-align:left;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16 label {
  left:0px;
  width:100%;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:392px;
  width:273px;
  height:20px;
  display:flex;
  font-size:16px;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.disabled {
}
#u16.disabled {
}
#u16_img.selected.error {
}
#u16.selected.error {
}
#u16_img.selected.hint {
}
#u16.selected.hint {
}
#u16_img.selected.error.hint {
}
#u16.selected.error.hint {
}
#u16_img.mouseOver.selected {
}
#u16.mouseOver.selected {
}
#u16_img.mouseOver.selected.error {
}
#u16.mouseOver.selected.error {
}
#u16_img.mouseOver.selected.hint {
}
#u16.mouseOver.selected.hint {
}
#u16_img.mouseOver.selected.error.hint {
}
#u16.mouseOver.selected.error.hint {
}
#u16_img.mouseDown.selected {
}
#u16.mouseDown.selected {
}
#u16_img.mouseDown.selected.error {
}
#u16.mouseDown.selected.error {
}
#u16_img.mouseDown.selected.hint {
}
#u16.mouseDown.selected.hint {
}
#u16_img.mouseDown.selected.error.hint {
}
#u16.mouseDown.selected.error.hint {
}
#u16_img.mouseOver.mouseDown.selected {
}
#u16.mouseOver.mouseDown.selected {
}
#u16_img.mouseOver.mouseDown.selected.error {
}
#u16.mouseOver.mouseDown.selected.error {
}
#u16_img.mouseOver.mouseDown.selected.hint {
}
#u16.mouseOver.mouseDown.selected.hint {
}
#u16_img.mouseOver.mouseDown.selected.error.hint {
}
#u16.mouseOver.mouseDown.selected.error.hint {
}
#u16_img.focused.selected {
}
#u16.focused.selected {
}
#u16_img.focused.selected.error {
}
#u16.focused.selected.error {
}
#u16_img.focused.selected.hint {
}
#u16.focused.selected.hint {
}
#u16_img.focused.selected.error.hint {
}
#u16.focused.selected.error.hint {
}
#u16_img.selected.disabled {
}
#u16.selected.disabled {
}
#u16_img.selected.hint.disabled {
}
#u16.selected.hint.disabled {
}
#u16_img.selected.error.disabled {
}
#u16.selected.error.disabled {
}
#u16_img.selected.error.hint.disabled {
}
#u16.selected.error.hint.disabled {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1px;
  width:249px;
  white-space:nowrap;
  text-transform:none;
}
#u16_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.34901960784313724);
  text-align:center;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:447px;
  width:156px;
  height:15px;
  display:flex;
  color:rgba(0, 0, 0, 0.34901960784313724);
  text-align:center;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 188, 65, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:497px;
  width:226px;
  height:54px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#B0ACA9;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#B0ACA9;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:321px;
  width:311px;
  height:46px;
  display:flex;
  font-size:20px;
  color:#B0ACA9;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_img.hint {
}
#u19.hint {
}
#u19_img.disabled {
}
#u19.disabled {
}
#u19_img.hint.disabled {
}
#u19.hint.disabled {
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#B0ACA9;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#B0ACA9;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:46px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:247px;
  width:311px;
  height:46px;
  display:flex;
  font-size:20px;
  color:#B0ACA9;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_img.hint {
}
#u20.hint {
}
#u20_img.disabled {
}
#u20.disabled {
}
#u20_img.hint.disabled {
}
#u20.hint.disabled {
}
#u21 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:497px;
  width:226px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:752px;
  width:189px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
